useDynLib(PMR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(CompQuadForm, davies)
importFrom(stats, na.omit)
importFrom(stats, pchisq)
importFrom(stats, sd)
importFrom(stats, pnorm)
importFrom(PDSCE,pdsoft)
exportPattern("^[[:alpha:]]+")
